!!! 5
- ie_html :lang => 'en', :class => 'no-js' do
  %head
    = partial "partials/document_head"
    = stylesheet_link_tag "project_detail"

  %body{:class => current_page.data.body_class || 'page'}
    = partial 'partials/header'

    #main(role="main")
      .wrapper
        %h1.project-heading
          = image_tag current_article.metadata[:page]['image_path']
          = current_article.title
        .text-wrap
          %secion.meta-list
            .meta-item
              %label Client
              .value= current_article.metadata[:page]['client']
            .meta-item
              %label Role
              .value= current_article.metadata[:page]['role']
            .meta-item
              %label Process
              .value= current_article.metadata[:page]['project_type']
            .meta-item
              %label Year
              .value= current_article.metadata[:page]['year']
          = yield

    =# partial 'partials/footer'
    = partial 'partials/scripts'
