!!! 5
- ie_html :lang => 'en', :class => 'no-js' do
  %head
    = partial "partials/document_head"

  %body{:class => current_page.data.body_class || 'page'}
    = partial 'partials/header'

    #main(role="main")
      .article-header
        .article-header__content-wrapper
          .project-heading
            %h1
              = current_article.title
          .article-top
            .article-intro
              .article-intro__summary= current_article.metadata[:page]['article_intro_summary']

              .article-intro__role
                .article-intro__role__label My Role
                .article-intro__role__text=current_article.metadata[:page]['article_intro_role']

            .meta-list
              .meta-list__item
                .meta-list__item__label Year
                .meta-list__item__value= current_article.metadata[:page]['year']
              .meta-list__item
                .meta-list__item__label Client
                .meta-list__item__value= current_article.metadata[:page]['client']
              .meta-list__item
                .meta-list__item__label Project Type
                .meta-list__item__value= current_article.metadata[:page]['project_type']

      .article
        .article__content-wrapper
          = yield

        - if current_article.previous_article || current_article.next_article
          .article-footer
            %label Explore other case studies
            .next-prev-article-links
              - if current_article.previous_article
                = link_to current_article.previous_article.title, current_article.previous_article.url, :class => 'prev-article-link'

              - if current_article.next_article
                = link_to current_article.next_article.title, current_article.next_article.url, :class => 'next-article-link'

      = partial 'partials/footer'
      = partial 'partials/scripts'
