!!! 5
- ie_html :lang => 'en', :class => 'no-js' do
  %head
    = partial "partials/document_head"

  %body{:class => current_page.data.body_class || 'page'}
    = partial 'partials/header'

    #main(role="main")
      .project-header
        .project-header__title
          .project-header__title__text= current_article.title

        .project-header__summary
          .project-header__summary__text= current_article.metadata[:page]['article_intro_summary']

        .project-header__meta
          .project-header__meta__group
            .project-header__meta__group__label Year
            .project-header__meta__group__value= current_article.metadata[:page]['year']
          .project-header__meta__group
            .project-header__meta__group__label Client
            .project-header__meta__group__value= current_article.metadata[:page]['client']
          .project-header__meta__group
            .project-header__meta__group__label Role & Team
            .project-header__meta__group__value= current_article.metadata[:page]['role']

        .project-header__image
          = image_tag current_article.metadata[:page]['index_hero_image']

      .article
        .article__content-wrapper
          = yield

        - if current_article.previous_article || current_article.next_article
          .article-footer
            %label Explore other case studies
            .next-prev-article-links
              - if current_article.previous_article
                = link_to current_article.previous_article.title, current_article.previous_article.url, :class => 'prev-article-link'

              - if current_article.next_article
                = link_to current_article.next_article.title, current_article.next_article.url, :class => 'next-article-link'

      = partial 'partials/footer'
      = partial 'partials/scripts'
