!!! 5
- ie_html :lang => 'en', :class => 'no-js' do
  %head
    = partial "partials/document_head"

  %body{:class => current_page.data.body_class || 'page writing-page'}
    = partial 'partials/header'

    #main(role="main")
      .article-header
        .article-header__content-wrapper
          .project-heading
            %h1
              = current_article.title
          -# - if current_article.metadata[:page]['image_path']
          -#   = image_tag current_article.metadata[:page]['image_path']

          - if current_article.metadata[:page]['intro']
            .article-top
              .article-intro
                .article-intro__summary= current_article.metadata[:page]['intro']
      .article
        .article__content-wrapper
          = yield

        - if current_article.previous_article || current_article.next_article
          .article-footer
            %label Explore more of my writing
            .next-prev-article-links
              - if current_article.previous_article
                = link_to current_article.previous_article.title, current_article.previous_article.url, :class => 'prev-article-link'

              - if current_article.next_article
                = link_to current_article.next_article.title, current_article.next_article.url, :class => 'next-article-link'

    = partial 'partials/footer'
    = partial 'partials/scripts'
