!!! 5
- ie_html :lang => 'en', :class => 'no-js' do
  %head
    = partial "partials/document_head"

  %body{:class => current_page.data.body_class || 'page writing-page'}
    = partial 'partials/header'

    #main(role="main")
      .writing-header
        .writing-header__title
          .writing-header__title__text= current_article.title

        .writing-header__meta
          .writing-header__meta__group
            .writing-header__meta__group__label Published
            .writing-header__meta__group__value= current_article.metadata[:page]['date_formatted']
          .writing-header__meta__group
            .writing-header__meta__group__label Tagged
            .writing-header__meta__group__value= current_article.metadata[:page]['tags']

        - if current_article.metadata[:page]['hero_image']
          .writing-header__image
            = image_tag current_article.metadata[:page]['hero_image']

          .writing-header__summary
            .writing-header__summary__label summary
            .writing-header__summary__text= current_article.metadata[:page]['intro']

      .article
        .article__content-wrapper
          = yield

        - if current_article.previous_article || current_article.next_article
          .article-footer
            %label Explore more of my writing
            .next-prev-article-links
              - if current_article.previous_article
                = link_to current_article.previous_article.title, current_article.previous_article.url, :class => 'prev-article-link'

              - if current_article.next_article
                = link_to current_article.next_article.title, current_article.next_article.url, :class => 'next-article-link'

    = partial 'partials/footer'
    = partial 'partials/scripts'
