---
title: Aaron Gitlin
body_class: index-page
---

.index-page-wrapper.wrapper
  .personal-info-wrapper
    %section.personal-info
      .logo=image_tag "../images/home/logo.svg"
      .personal-info-name
        %h2 Aaron Gitlin
      .personal-info-intro
        %p New York City based Experience Designer currently working at global digital consultancy Tigerspike. Specializing in creating visual systems for complex projects, passionate about finding functional beauty.
        = link_to 'View Bio', "#{base_url}" + "bio.html", :class=> "profile-link"

  %section.project-list
    %label.case-studies-heading Case Studies
    - blog('projects').articles.each do |project|
      =link_to project.url do
        %article.project.list-item
          .project.list-item-image-wrapper
            = image_tag project.metadata[:page]['image_path']
          %h3.project.list-item-title=project.title
          %p.project.list-item-intro= project.metadata[:page]['dash_intro']

  %section.writing-list
    %label.case-studies-heading Writing
    - blog('writings').articles.each do |writing|
      %article.writing.list-item
        %h3.writing.list-item-title= link_to writing.title, writing.url
        %p.writing.list-item-intro= writing.metadata[:page]['intro']