---
title: Aaron Gitlin
body_class: index-page
---

.index-page-wrapper

  .introduction
    %h1.introduction__paragraph
      Hi, my name is Aaron.
      %br/
      I am currently an Interaction Designer at <a href="https://design.google/" target="_blank">Google</a>.
      %br/
      I previously worked at <a href="http://paperlesspost.com/" target="_blank">Paperless Post</a> and <a href="http://tigerspike.com/" target="_blank">Tigerspike</a>.
    .introduction__contact
      %ul.contact__list
        %li.contact__list__item=link_to "email me", "mailto:aarongitlin@gmail.com"
        %li.contact__list__item=link_to "linkedin", "http://www.linkedin.com/in/aarongitlin/", target: '_blank'
        %li.contact__list__item=link_to "are.na", "http://are.na/aaron-gitlin/", target: "_blank"

  #writing.writing-section
    .writing-section__label
      Recent Writing
    .writings
      - blog('writings').articles.each do |writing|
        .writing
          = link_to writing.title, writing.url, class: 'writing__title'
          .writing__description
            = writing.metadata[:page]['intro']


  #projects.project-section
    .project-section__label
      Recent Projects
    .projects
      - blog('projects').articles.each do |project|
        .project
          =link_to project.url, class: 'project__image' do
            = image_tag project.metadata[:page]['index_hero_image']
          .project__info
            =link_to project.title, project.url, class: "project__title"
            .project__meta= project.metadata[:page]['year'] + " @ " + project.metadata[:page]['client']
            .project__description= project.metadata[:page]['dash_intro']
            .project__cta
              =link_to 'Read More', project.url, class: project.slug
