---
title: Aaron Gitlin
body_class: index-page
---

.index-page-wrapper.wrapper
  .personal-info-wrapper
    %section.personal-info
      .logo=image_tag "../images/home/logo.svg"
      .personal-info-name
        %h2 Aaron Gitlin
      .personal-info-intro
        %p New York City based Experience Designer currently working at global digital consultancy Tigerspike. Specializing in creating visual systems for complex projects, passionate about finding functional beauty.
        = link_to 'View Bio', "#{base_url}" + "profile.html", :class=> "profile-link"

  %section.article-list
    %label.case-studies-heading Case Studies
    - blog('projects').articles.each do |article|
      %article.project.list-item
        .list-item-image-wrapper
          = image_tag article.metadata[:page]['image_path']
        %h3.list-item-title= link_to article.title, article.url
        %p.list-item-intro= article.metadata[:page]['dash_intro']