---
title: Aaron's Library
body_class: library-index
layout: library_layout
---

.wrapper
  .page-title My Library
  .page-description
    = data.library.page_description

  .book-hero
    - data.library.books.each do |book|
      - if book.rank == 'zero'
        .book-hero__image
          = image_tag book.image
        .book-hero__info
          .book-hero__title
            = book.title
            -# =link_to data.library.books[0]["title"], "/books/#{data.library.books[0]['slug']}.html"
          .book-hero__author= book.author
          .book-hero__short-description= book.short_description
  // My next two big books
  .space-one 
    - data.library.books.each do |book|
      - if book.rank == 'one'
        .space-one__book__image
          = image_tag book.image
        .space-one__book__info
          .space-one__book__title
            = book.title
            -#= link_to book.title, "/books/#{book.slug}.html"
          .space-one__book__author= book.author
          .space-one__book__short-description= book.short_description
  
  // Final "space", split into rank two (bigger on left) and rank three (smaller on right)
  .space-two
    .rank-two
      - data.library.books.each_with_index do |book, i|
        - if book.rank == 'two'
          .rank-two__book
            %a{:href => "#rank_two_modal_#{i}", :class => "rank-two__book__image"}
              = image_tag book.image
            %div{:id => "rank_two_modal_#{i}", :class => "overlay"}
              %a{:href => "#_", :class => "overlay__close"}
              .overlay__modal
                %a{:href => "#_", :class => "overlay__modal__manual_close"} close
                .overlay__modal__title= book.title
                .overlay__modal__book-description= book.short_description
            .rank-two__book__info
              .rank-two__book__title
                = book.title
                -#= link_to book.title, "/books/#{book.slug}.html"
              .rank-two__book__author= book.author
    .rank-three
      - data.library.books.each_with_index do |book, i|
        - if book.rank == 'three'
          .rank-three__book
            .rank-three__image
              = image_tag book.image

